* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section {
  display: none;
}

#section1 {
  width: 100%;
  padding: 20px;
  background-color: #274d76;
  color: white;
}
#section1 nav {
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 800;
}
#section1 nav .log {
  display: flex;
  gap: 10px;
}
#section1 nav .log #userEmail {
  font-size: 12px;
  padding-top: 8px;
}
#section1 nav .log .but1 {
  width: 100px;
  height: 34px;
  background-color: #274d76;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 800;
}
#section1 .nav2 {
  display: none;
}

#section2 {
  width: 100%;
}
#section2 .special {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#section2 .special .ev {
  padding-left: 50px;
  color: black;
  font-weight: 800;
  font-size: 28px;
}
#section2 .special .but2 {
  height: 50px;
  width: 155px;
  background-color: rgba(255, 255, 255, 0.158);
  color: #093c72;
  border: thin solid black;
  border-radius: 8px;
}
#section2 #noEvent {
  margin: 200px auto;
  width: 240px;
  display: block;
}
#section2 #noEvent img {
  width: 239px;
  display: block;
}
#section2 #eventdey {
  display: none;
  margin: 0;
  width: 100%;
}
#section2 #eventdey #myEvent {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  margin: auto;
}
#section2 #eventdey #myEvent div {
  width: 95%;
  background-color: #e9edf1;
  margin: 5px;
  border-radius: 8px;
  padding-bottom: 20px;
}
#section2 #eventdey #myEvent div .title {
  font-size: 20px;
  font-weight: 800;
  padding: 20px 10px;
  margin-bottom: 10px;
}
#section2 #eventdey #myEvent div .detals {
  height: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
#section2 #eventdey #myEvent div .detals p {
  font-size: 12px;
  font-weight: 800;
  color: gray;
}
#section2 #eventdey #myEvent div button {
  margin-left: 110px;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #e9edf1;
  border: 2px solid #093c72;
  border-radius: 8px;
  color: #093c72;
}
#section2 #eventdey #myEvent div span {
  margin-left: 20px;
  padding: 5px 20px;
  background-color: #e9edf1;
  border: 2px solid #093c72;
  border-radius: 8px;
  color: #093c72;
}
#section2 #eventdey #myEvent div .detals2 {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#section2 #eventdey #myEvent div .detals2 p {
  font-size: 16px;
  font-weight: 1000;
  color: #093c72;
}
#section2 .but {
  width: 455px;
  margin: auto;
}

#create {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  top: 0;
  display: none;
}
#create #event {
  width: 506px;
  background-color: white;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}
#create #event .formm {
  margin: auto;
  width: 466px;
  padding-top: 30px;
  text-align: center;
}
#create #event .formm div {
  width: 466px;
  height: 66px;
  background-color: #dbdddd;
  margin-top: 20px;
  border-radius: 7px;
  text-align: left;
}
#create #event .formm div p {
  padding: 6px 9px;
  font-weight: 800;
}
#create #event .formm div input {
  width: 300px;
  margin-left: 9px;
  padding: 5px;
  background-color: #dbdddd;
  border: none;
}
#create #event .formm div input:focus {
  outline: none;
}
#create #event .formm .myBut {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#create #event .formm .myBut .but3 {
  padding: 6px 20px;
  border-radius: 3px;
  border: none;
  background-color: rgb(81, 177, 81);
  color: white;
  font-weight: 800;
}

.createbutton {
  margin: auto;
  width: 100%;
  position: relative;
}
.createbutton .but2 {
  height: 50px;
  width: 255px;
  background-color: rgba(255, 255, 255, 0.158);
  color: #093c72;
  border: thin solid black;
  border-radius: 8px;
  margin-top: 120px;
  margin-left: 45%;
  margin: auto;
}

@media (max-width: 530px) {
  #section1 {
    width: 100%;
    padding: 20px;
    background-color: #274d76;
    color: white;
  }
  #section1 nav {
    display: flex;
    width: 98%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 800;
  }
  #section1 nav .log {
    display: flex;
    gap: 10px;
  }
  #section1 nav .log #userEmail2 {
    font-size: 9px;
    padding-top: 7px;
  }
  #section1 nav .log .but1 {
    width: 80px;
    height: 25px;
    background-color: #274d76;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 800;
  }
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 200px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
  }
  #section2 .but {
    width: 355px;
    margin: auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 355px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 390px) {
  #section {
    display: none;
    width: 100%;
    padding: 20px;
    height: 100vh;
    background-color: #274d76;
    color: white;
  }
  #section p {
    font-size: 18px;
    font-weight: 800;
  }
  #section .nav2 {
    display: flex;
    gap: 100px;
  }
  #section div {
    margin: 40px auto;
    text-align: center;
  }
  #section div button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: #274d76;
    font-size: 16px;
  }
  #section div p {
    font-size: 16px;
    margin-top: 20px;
  }
  #section div .back {
    width: 100%;
    height: 50vh;
    background-color: white;
    border: thin solid black;
  }
  #section1 {
    width: 100%;
    padding: 20px;
    background-color: #274d76;
    color: white;
  }
  #section1 nav {
    display: none;
    width: 98%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 800;
  }
  #section1 nav .log {
    display: flex;
    gap: 10px;
  }
  #section1 nav .log #userEmail {
    font-size: 9px;
    padding-top: 7px;
  }
  #section1 nav .log .but1 {
    width: 80px;
    height: 25px;
    background-color: #274d76;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 800;
  }
  #section1 .nav2 {
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: left;
    gap: 30%;
    font-family: sans-serif;
    font-weight: 800;
  }
}
@media (max-width: 521px) {
  #create {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    display: none;
  }
  #create #event {
    width: 406px;
    background-color: white;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  #create #event .formm {
    margin: auto;
    width: 366px;
    padding-top: 30px;
    text-align: center;
  }
  #create #event .formm div {
    width: 366px;
    height: 66px;
    background-color: #dbdddd;
    margin-top: 20px;
    border-radius: 7px;
    text-align: left;
  }
  #create #event .formm div p {
    padding: 6px 9px;
    font-weight: 800;
  }
  #create #event .formm div input {
    width: 300px;
    margin-left: 9px;
    padding: 5px;
    background-color: #dbdddd;
    border: none;
  }
  #create #event .formm div input:focus {
    outline: none;
  }
  #create #event .formm .myBut {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  #create #event .formm .myBut .but3 {
    padding: 6px 20px;
    border-radius: 3px;
    border: none;
    background-color: rgb(81, 177, 81);
    color: white;
    font-weight: 800;
  }
}
@media (max-width: 415px) {
  #create {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    display: none;
  }
  #create #event {
    width: 90%;
    background-color: white;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  #create #event .formm {
    margin: auto;
    width: 90%;
    padding-top: 30px;
    text-align: center;
  }
  #create #event .formm div {
    width: 100%;
    height: 66px;
    background-color: #dbdddd;
    margin-top: 20px;
    border-radius: 7px;
    text-align: left;
  }
  #create #event .formm div p {
    padding: 6px 9px;
    font-weight: 800;
  }
  #create #event .formm div input {
    width: 80%;
    margin-left: 9px;
    padding: 5px;
    background-color: #dbdddd;
    border: none;
  }
  #create #event .formm div input:focus {
    outline: none;
  }
  #create #event .formm .myBut {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  #create #event .formm .myBut .but3 {
    padding: 6px 20px;
    border-radius: 3px;
    border: none;
    background-color: rgb(81, 177, 81);
    color: white;
    font-weight: 800;
  }
}
@media (max-width: 1138px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 200px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 12px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 30%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 16px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 455px;
    margin: auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 455px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 1000px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 200px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 12px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 25%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 16px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 455px;
    margin: auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 455px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 1000px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 200px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 12px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 20%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 16px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 455px;
    margin: auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 455px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 750px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 150px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
    margin-left: 0;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 9px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 32%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 12px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 200px;
    margin: 200px auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 200px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 750px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 150px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
    margin-left: 0;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 9px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 25%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 12px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 200px;
    margin: 200px auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 200px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 420px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 150px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
    margin-left: 0;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 9px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 20%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 12px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 200px;
    margin: 200px auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 200px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
@media (max-width: 357px) {
  #section2 {
    width: 100%;
  }
  #section2 div {
    margin: 150px auto;
    width: 240px;
  }
  #section2 div img {
    width: 239px;
    display: none;
  }
  #section2 #eventdey {
    margin: 0;
    margin-top: -30px;
    width: 100%;
    margin-bottom: 30px;
    height: 100vh;
    margin-left: 0;
  }
  #section2 #eventdey .ev {
    padding: 40px 20px;
    color: black;
    font-weight: 800;
    font-size: 28px;
  }
  #section2 #eventdey #myEvent {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  #section2 #eventdey #myEvent div {
    width: 95%;
    background-color: #e9edf1;
    margin: 5px;
    border-radius: 8px;
  }
  #section2 #eventdey #myEvent div .title {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 10px;
  }
  #section2 #eventdey #myEvent div .detals {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section2 #eventdey #myEvent div .detals p {
    font-size: 9px;
    font-weight: 800;
    color: gray;
  }
  #section2 #eventdey #myEvent div button {
    margin-left: 15%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #e9edf1;
    border: 2px solid #093c72;
    border-radius: 8px;
    color: #093c72;
  }
  #section2 #eventdey #myEvent div .detals2 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #section2 #eventdey #myEvent div .detals2 p {
    font-size: 12px;
    font-weight: 1000;
    color: #093c72;
  }
  #section2 .but {
    width: 200px;
    margin: 200px auto;
  }
  #section2 .but .but2 {
    height: 50px;
    width: 200px;
    background-color: #274d76;
    color: white;
    border: none;
    border-radius: 8px;
  }
}